<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class = 'jumbotron text-center'>
    <h1>Editing for review $reviewID</h1>
</div>

<div class = "container">
    <div class = "edit review">
        <form method = 'Post' action = '/hotel/edit?hotelID=${hotelID}&reviewID=${reviewID}'>
            <H2>Edit Review Text</H2>
            <label for = 'rating'>Rating(1-5): </label>
            <input type = 'number' id = 'rating' name = 'rating' step = '0.1' min = '1.0' max = '5' pattern = '[0-9]{1}' value = $rating><br><br>
            <label for = 'reviewText'></label>
            <textarea id= 'reviewText' name = 'reviewText' rows = "10" cols = "100">$reviewText</textarea><br>
            <input type="submit" value = "Submit">
            <input type = "submit" value = "Go back"/>
            <input type = 'hidden' name = 'hotelID' value = "${hotelID}"/>
            <input type = 'hidden' name = 'reviewID' value = "${reviewID}"/>
            <p>Click "Submit" to update rating and/or review text.</p>

        </form>
    </div>
</div>





</body>
</html>